<div class="card-deck sizechat">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Messages</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">People</h4>
      <p class="text-primary">Nullam id dolor id.</p>
      <p class="text-primary">Nullam id dolor id.</p>
    </div>
  </div>
</div>
<div class="card-deck sizechat">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to</p>
    </div>
  </div>
</div>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
    </tr>
  </tbody>
</table>
